* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
}

.formul치rio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.formul치rio {
    color: yellow;
    font-size: 2.0rem;
    margin-top: 3.5rem;
}

#formul치rio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

form input {
    padding: 5px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border-radius: 3px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 10px;
}

form button:hover {
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

section h1 {
    margin: 2rem;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: auto;
    width: 100%;
}

@media (min-width: 480px) {
    form {
      padding: 0;
      display: block;
    }

    .formul치rio {
        display: block;
        margin-top: 4rem;
    }

    iframe {
        display: block;
        max-width: 460px;
    }
}
  